*{

	margin: 0;
	padding: 0;

}
body{
		background: gray;

}

.menu{

	list-style: none;
	background: cyan;
	padding: 15px;
	max-width: 1024px;
	margin: auto;
}

.menu li{
	display: inline-block;
	/*padding: 10px;*/
	/*border: 1px solid black;*/
}

.menu li a{
	text-decoration: none;
	color:rgb(150, 133, 133);
	padding: 20px;
}

.menu li a:hover{
	text-decoration: underline;
	color: rgb(125, 50, 187);
	background: rgb(5, 107, 107);
	text-transform: uppercase;
	border-bottom: 5px solid rgb(125, 50, 187);
}